/**
  Primary Palette
*/

$primary1: #240D57;
$primary2: #501FC1;
$primary3: #8456EC;
$primary4: #E87BF8;

/**
  Secondary Palette
*/

// Secondary Purples
$purple1: #CCB6FF;
$purple2: #EDE5FF;
$purple3: #F6F2FF;

// Alert colors
$alert1: #FFE7E0;
$alert2: #E61445;
$alert3: #D3FFE2;
$alert4: #00805E;

/**
  Neutrals
*/

$neutral1: #4F4F4F;
$neutral2: #828282;
$neutral3: #BDBDBD;
$neutral4: #E0E0E0;
$neutral5: #F2F2F2;
$neutral6: #BDBDBD;
